In [1]:
import pandas as pd
import requests

In [2]:
url = "https://sec.report/Document"

# HTTP header is a field of an HTTP request or response that passes additional context and metadata about the request or response.
headers = {"User-Agent": "Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.2.8) Gecko/20100722 Firefox/3.6.8 GTB7.1 (.NET CLR 3.5.30729)"}
response = requests.get(url, headers=headers)

table = pd.read_html(response.text)

In [3]:
table[0]['Company'] = table[0]['CompanyCIK'].str.replace('000','_000').str.split('_', expand=True)[0]
table[0]['CIK'] = table[0]['CompanyCIK'].str.replace('000','_000').str.split('_', expand=True)[1]

# Open the url and get the date from the Document column then put it in the split method
table[0]['Document'] = table[0]['Document Form'].str.split('2022-09-02 00:00:00', expand=True)[0]
table[0]['Form'] = table[0]['Document Form'].str.split('2022-09-02 00:00:00', expand=True)[1]

# Remove unwnated columns
table[0].drop('CompanyCIK', axis=1, inplace=True)
table[0].drop('Document Form', axis=1, inplace=True)

In [4]:
table[0]

               Company         CIK                       Document  Form
0      Kim Helen Susan  0001422772  Security Sale/Purchase Record     4
1      Kim Helen Susan  0001559053  Security Sale/Purchase Record     4
2     LAWLOR AUGUSTINE  0001262327  Security Sale/Purchase Record     4
3          PITTERS RON  0001299709  Security Sale/Purchase Record     4
4          PITTERS RON  0001891973  Security Sale/Purchase Record     4
..                 ...         ...                            ...   ...
395        Morris June  0001884658  Security Sale/Purchase Record     4
396  Sterrs Lawrence J  0001629704  Security Sale/Purchase Record   4/A
397      Bradley Peter  0001331717  Security Sale/Purchase Record     4
398     Prager Paul B.  0001877255  Security Sale/Purchase Record     4
399    Beech Michael F  0001626738  Security Sale/Purchase Record     4

[400 rows x 4 columns]

In [5]:
table[0].to_csv('SEC_Filings.csv',index=False)